
body {
  background-image: url(record.png);
  background-repeat: repeat;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

main {
  padding: 1em;
  background-color: #D3D3D3
}

header {
  background: #1abc9c;
  text-align: center;
  color: orange;
}
